<body id="top">
  <header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
        <div class="container">
          <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Alexy ROUMY</a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#Education">Education</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#projects">Projects</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="page-content">
    <div>
<div class="profile-page">
<div class="wrapper">
  <div class="page-header page-header-small" filter-color="green" style="background: url('../assets/images/bg1.jpg') no-repeat;
  background-size: 100%;">
    <div class="page-header-image" data-parallax="true" ></div>
    <div class="container">
      <div class="content-center">
        <div class="cc-profile-image"><a href="#"><img src="assets/images/Alexy1.jpg" alt="Image"  /></a></div>
        <div class="h2 title">Alexy Roumy</div>
        <p class="category text-white">Web Developer</p><a class="btn btn-primary" href="https://docdro.id/7CNYgeP" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" target="_blank">Download CV</a>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/alexy-roumy/" rel="tooltip" title="Follow me on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section" id="about">
<div class="container">
  <div class="card" data-aos="fade-up" data-aos-offset="10">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card-body">
          <div class="h4 mt-0 title">About</div>
          <p>Hello world! I am Alexy Roumy, an innovative Lebanese Web Developer with many years of experience managing all aspects of the development process.</p>
          <p>I have excellent communication and interpersonal skills, also a strong work ethic in team or individual settings to drive product success and process efficiency. I am good with time management, multi-tasking, troubleshooting and problem solving with an analytical mindset.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card-body">
          <div class="h4 mt-0 title">Basic Information</div>
          <div class="row">
            <div class="col-sm-4"><strong class="text-uppercase">Date of birth:</strong></div>
            <div class="col-sm-8">February 8 1996</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
            <div class="col-sm-8">alexyroumy@outlook.com <a href="mailto: alexyroumy@outlook.com"   target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i></a> </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
            <div class="col-sm-8">+96171957116</div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
            <div class="col-sm-8"> <a href="https://www.google.com/maps/place/Mina/@34.4511113,35.8019934,15z/data=!3m1!4b1!4m5!3m4!1s0x1521f3e19c5062c5:0x2518c35d4b958603!8m2!3d34.4510949!4d35.8107466" target="_blank">St.Georges street, Mina-Tripoli, Lebanon</a></div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
            <div class="col-sm-8">English, Arabic, French</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section" id="skill">
<div class="container">
  <div class="h4 text-center mb-4 title">Professional Skills</div>
  <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">CSS</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">TypeScript</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Bootstrap</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Angular 8</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">NodeJS</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">git/github</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div><span class="progress-value">65%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section" id="experience">
<div class="container cc-experience">
  <div class="h4 text-center mb-4 title">Work Experience</div>
  <div class="card">
    <div class="row">
      <div class="col-md-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <img src="../assets/images/itg.png" style="margin-left: 5px;" />
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body" style="margin-top: 30px;">
          <div class="h5">Technical support Representative</div>
          <p class="category">ITG holding</p>
          <p style="font-family: Century Gothic; color: dimgrey;font-size: medium;">(2018 till 2021)</p>
          <p style="font-family: Century Gothic; color: dimgrey;font-size: medium;">Focused on all kind of software and hardware troubleshooting</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-md-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <img src="../assets/images/val.jpg" style="margin-left: 5px;" />
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body" style="margin-top: 30px;">
          <div class="h5">Intern</div>
          <p class="category">Valoores Group-SoftSolution</p>
          <p style="font-family: Century Gothic; color: dimgrey;font-size: medium;">(2018)</p>
          <p style="font-family: Century Gothic; color: dimgrey;font-size: medium;">Focused on the web development of business solutions for companies and Business Intelligence</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="section" id="projects">
  <div class="container cc-projects">
    <div class="h4 text-center mb-4 title">Projects</div>
    <div class="card">
      <div class="row">
        <div class="col-md-6" data-aos="zoom-in-right" data-aos-offset="50" data-aos-duration="600">
          <img src="../assets/images/pg.PNG" style="margin-left: 30px;" />
        </div>
        <div class="col-md-6" data-aos="zoom-in-left" data-aos-offset="50" data-aos-duration="600">
          <div class="card-body" style="margin-top: 140px;">
            <div class="h5">Photo Gallery Application</div>
            <p class="category">I build a simple image gallery application using Angular CLI to scaffold the project and then create custom Components, an image Service, and a custom Pipe to build a filterable photo gallery.</p>
            <div><i class="fa fa-github" aria-hidden="true"></i><a href="https://alexyroumy.github.io/Photo-Gallery/" target="_blank">  https://alexyroumy.github.io/Photo-Gallery/</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-6" data-aos="zoom-in-right" data-aos-offset="50" data-aos-duration="600">
          <img src="../assets/images/run.png" style="margin-left: 30px;" />
        </div>
        <div class="col-md-6" data-aos="zoom-in-left" data-aos-offset="50" data-aos-duration="600">
          <div class="card-body" style="margin-top: 90px;">
            <div class="h5">Run-Journal Application</div>
            <p class="category">I build a simple GPS route mapping application using Angular CLI to scaffold the project and then create custom Components and Services to build an application with a list of runs with calculated totals, and a detail view with a customized map containing a route loaded from GPX data .</p>
            <div><i class="fa fa-github" aria-hidden="true"></i><a href="https://alexyroumy.github.io/Run-Journal/" target="_blank">  https://alexyroumy.github.io/Run-Journal/</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="section" id="Education">
<div class="container cc-education">
  <div class="h4 text-center mb-4 title">Education</div>
  <div class="card">
    <div class="row">
      <div class="col-md-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <img src="../assets/images/logo1.jpg" style="margin-left: 5px;" />
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body" style="margin-top: 50px;">
          <div class="h5">Bachelor of Computer Science</div>
          <p class="category">Arts, Sciences ad Technolgy University In Lebanon</p>
          <p style="font-family: Century Gothic; color: dimgrey;font-size: medium;">(2015 till 2018)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-md-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <img src="../assets/images/down.jpg" style="margin-left: 30px;" />
      </div>
      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body" style="margin-top: 50px;">
          <div class="h5">Science and Mathematics</div>
          <p class="category">Collège National Orthodox</p>
          <p style="font-family: Century Gothic; color: dimgrey;font-size: medium;">2014</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>